*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1.15;
}

body {
  background-color: #f7f7f7;
}

.header {
  font-family: Pacifico, Arial, Helvetica, sans-serif;
  height: 4.5rem;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header-container {
  margin: 0 auto;
  padding: 0 1.4rem;
  max-width: 1600px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-title {
  font-weight: 400;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: auto;
  text-transform: uppercase;
}

.header-nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  letter-spacing: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 1.4rem;
  max-width: 1620px;
}

.calendar-container {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.info-column {
  margin: 0.8rem 1.4rem 0 1rem;
  font-size: 14px;
}

.info-column h1 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 1rem;
}

.info-column h1:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

.information-body {
  margin-top: 1rem;
}

.calendar-month {
  grid-column-start: 2;
  grid-column-end: 7;
  height: 2.4rem;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
}

.calendar-month-button-container {
  display: flex;
}

.calendar-month-button-container:nth-child(3) {
  justify-content: right;
}

button {
  font-family: inherit;
}

.month-button {
  background-color: #f0f0f0;
  border-style: none;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

.month-button:hover {
  background-color: #e9e9e9;
}

.calendar-column {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-heading {
  font-size: 8px;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  text-align: center;
}

.calendar-heading h2 {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.calendar-day {
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  height: 8.5rem;
}

.calendar-day h2 {
  padding-top: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem 0 0 0.4rem;
}

.form-section {
  margin-bottom: 0.5rem;
}

.day-notes {
  font-size: 12px;
  margin: 0.2rem;
}

.form-button {
  background-color:#f0f0f0;
  border-radius: 10px;
  padding: 0.6rem 1.4rem;
  margin-top: 1rem;
  border-style: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: #ebebeb;
}

.section-info {
  background: #fff;
  margin-bottom: 1.6rem;
  padding: 1.2rem 1rem;
  border-radius: 10px;
}

.section-overview {
  min-height: 600px;
}

#daySelectList,
#colorList {
  margin-bottom: 0.4rem;
  padding: 0.1rem 0.4rem;
}

.note-default {
  border-radius: 5px;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.note-none {
  background-color: #fff;
}

.note-teal {
  background-color: #8FCACA;
}

.note-blue {
  background-color: #D7EFEF;
}

.note-peach {
  background-color: #FFBF91;
}

.note-purple {
  background-color: #ECD5E3;
}

.note-green {
  background-color: #CCE2CB;
}

.note-holiday {
  background-color: #e9e9e9;;
}

.overview-item {
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 1050px) {
  .calendar-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .calendar-heading h2 {
    font-size: 10px;
  }

  .calendar-day h2 {
    font-size: 10px;
  }

  .calendar-day {
    height: 4rem;
  }

  .info-column {
    margin: 0.4rem 0.8rem;
  }

  .section-overview {
    min-height: 0;
  }
}

.about-title {
  margin: 1.4rem 0;
  font-size: 1.6rem;
}

.member-list {
  list-style: none;
}

.dark-mode-body {
  background-color: #1a1a1a;
  color: #fff;
}

.dark-mode-item1 {
  background-color: #141414;
}

.dark-mode-item2 {
  background-color: #161616;
  color: #fff;
}

.dark-mode-item2:hover {
  background-color: #242424;
}

.dark-mode-calendar-day {
  border-bottom: 1px solid #161616;
  border-right: 1px solid #161616;
  height: 8.5rem;
}

.dark-mode-form-button {
  background-color: #444444;
  color: #fff;
}

.dark-mode-form-button:hover {
  background-color: #555555;
}

.note-default-dark {
  opacity: 0.5;
}

.note-teal-dark {
  background-color: #006d6d;
}

.note-blue-dark {
  background-color: #0090c9;
}

.note-peach-dark {
  background-color: #ff7f24;
}

.note-purple-dark {
  background-color: #79009e;
}

.note-green-dark {
  background-color: #359630;
}

.note-holiday-dark {
  background-color: #242424;
}

.note-none-dark {
  color: #000;
}

#darkModeIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 3rem;
  width: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

#darkModeIcon img {
  opacity: 85%;
  filter: invert(0);
  height: 3rem;
  width: 3rem;
}