*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1.15;
}

.header {
  font-family: Pacifico, Arial, Helvetica, sans-serif;
  height: 4.5rem;
  border-bottom: 1px solid #777;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header-container {
  margin: 0 auto;
  padding: 0 1.4rem;
  max-width: 1600px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-title {
  font-weight: 400;
}

.header-nav {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: auto;
  text-transform: uppercase;
}

.header-nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  letter-spacing: -1px;
}

.container {
  
}

.calendar-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.info-column {
  padding: 1.2rem 1rem;
}

.info-column h1 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.calendar-column {
  border-left: 1px solid #777;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-heading {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  border-bottom: 1px solid #777;
  text-align: center;
}

.calendar-heading h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.calendar-day {
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  height: 8.5rem;
}

.calendar-column h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem 0 0 0.4rem;
}

.information-body {
  margin-top: 1rem;
}